*{
    font-family: 'Poppins', sans-serif;
}

form{
    width: 40%;
    margin: 0 auto;
    
}
#section-bg{
    background-image: url(image/Header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height:95vh;
}

.section-hero {
    margin: 0 auto;
    width: 80%;
}

/* .section-hero h1{
    font-weight: 700;
} */

.section-hero p{
    font-weight: 400;
}

.description-msg{
    width: 63%;
}

.work-section{
    background-color: #E5E5E5;
}
.contact-section{
    background-color: #6070FF;
    border-radius:8rem 0 0 0;
}

.contact-desc{
    width: 38%;
    margin: 0 auto;
}
.contact-bg{
    background-image: url(image/contact-form-background.svg);
    background-repeat: no-repeat;
    height: 90vh;
}



.hidden{
    display: none;
}